extends template.pug
block theBody
  .main
    h1 Node-JS Authentication System
    h4 Please 
      a(href="/register_page") Register 
      span or 
      a(href="/login_page") Login 
      span to see how it works ...