extends template.pug
block theBody
  .main
    h1 Node-JS Authentication System
    if(!LOGGEDIN)
      h4 Please 
        a(href="/register_page") Register 
        span or 
        a(href="/login_page") Login 
        span to see how it works ...
    else
      h4 #{LOGGEDIN}