html
  head
    meta(charset="utf-8")
    meta(name="viewport" , content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" , href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel="stylesheet" , href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" , href="/assets/css/style.css")
    title Authention System In Node-JS
  body
    .navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
      a.navbar-brand(href="/") Auth System
      button.navbar-toggler(type="button" , data-toggle="collapse"  , data-target="#navbar")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbar
        ul.navbar-nav.ml-auto
          if(!LOGGEDIN)
            li.nav-item
              a.nav-link(href="/login_page") 
                i.fa.fa-sign-in &nbsp; 
                span Login
            li.nav-item
              a.nav-link(href="/register_page") 
                i.fa.fa-user-plus &nbsp; 
                span Register
          else
            li.nav-item
              form(action="/logout",method="POST")
                button.nav-link(type="submit",style="outline:none; background: transparent; border: none;") 
                  i.fa.fa-sign-out &nbsp; 
                  span Logout
    block theBody
    if(info)
      .alert.alert-primary.fixed-right-bottom(role="alert") #{info}
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    script(src="/assets/js/style.js")