extends template.pug
block theBody
  .main
    .container
      form(action="/verify" , method="POST" ,style="width: 100%")
        .form-group
          h1 Verify Email 
        .form-group
          label Verification Code
          input.form-control(name="v_number",type="number",placeholder="Enter Verification Code",required="true")
          input(name="v_email",type="hidden",value=userEmail)
        .form-group
          button.btn.btn-outline-info(type="submit", style="width: 100%;") Verify
      form(action="/getAnotherCode",method="POST")
        input(name="g_v_email",type="hidden",value=userEmail)
        .form-group
          button.btn.btn-outline-info.form-control(type="submit",style="width:100%") Resend Code

        